.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

::-webkit-scrollbar {
        width: 0px;  /* Remover scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
}

.modal__title{
    font-size: 2.5rem;
    margin-bottom: 0;
}

#puntos{
    margin-bottom: 0;
}

.modal__paragraph{
    position:static;
    text-align:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal__img{
    width: 50%;
    margin-right: 10px;
}

.modal__content{
    display: flex;
    align-items: center;
    padding-top: 0%;
    margin-bottom: 40px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #346b4a;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #346b4a;
    background-color: #fff;
}

@media (max-width: 682px){

    .modal__content{
        display: block;
        align-items: center;
        
    }

    .modal__paragraph{
        margin-top: 140px;
    }

    .modal__img{
        width: 60%;
        right: 15%;
    }
        
}